{% extends "transactions/base.html" %}

{% block title %}Échec du Paiement{% endblock %}

{% block header_color %}#f44336{% endblock %}

{% block button_color %}#f44336{% endblock %}

{% block button_hover_color %}#d32f2f{% endblock %}

{% block content %}
    <h1>Échec du Paiement</h1>
    <p>Votre paiement n'a pas pu être traité. Cliquez sur le bouton ci-dessous pour retour et/ou réessayer sur Fayma Kash.</p>
    <a href="faymakash://faymakash.com/Login">Retourner sur Fayma Kash</a>
{% endblock %}